body {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace;
}
section {
  margin: 50px 0px;
}
.eat-healthy-main {
  display: flex;
  justify-content: center;
}
.eat-healthy-text {
  width: 45%;
  margin: auto -50px auto auto;
}
.eat-healthy-text h1 {
  font-size: 80px;
  color: rgb(71, 71, 71);
}
.eat-healthy-text h1 span {
  color: rgb(255, 126, 64);
}
.eat-healthy-text p {
  color: rgba(99, 99, 99, 0.867);
  font-size: 40px;
  margin-top: -25px;
  display: inline-block;
}
a.anchor-tag {
  text-decoration: none;
  font-size: 35px;
  padding: 10px 30px;
  border-radius: 35px;
  background: linear-gradient(90deg, rgba(255, 126, 64, 0.72), rgb(251, 82, 0));
  color: white;
}
.eat-healthy-image {
  width: 45%;
}
.eat-healthy-image img {
  width: 100%;
  margin-left: -120px;
  margin-top: 30px;
}
.about-me {
  background: url("image/7.png") 0% 0% / cover no-repeat;
}
.about-me-main {
  display: flex;
  justify-content: center;
}
.about-me-image {
  width: 45%;
  margin-top: 50px;
  margin-left: 150px;
}
.about-me-text {
  width: 30%;
  margin: auto 30px;
}
.about-me-image img {
  display: block;
  width: 68%;
}
.about-me-text h1 {
  font-size: 80px;
  color: rgb(71, 71, 71);
}
.about-me-text p {
  color: rgba(99, 99, 99, 0.867);
  font-size: 30px;
  margin-top: -25px;
}
.my-recipies-main {
  width: 80%;
  margin: auto;
}
.my-recipies-text {
  text-align: center;
  width: 60%;
  margin: auto;
}
.my-recipies-text h1 {
  font-size: 70px;
  text-transform: capitalize;
  color: rgb(71, 71, 71);
}
.my-recipies-text p {
  color: rgb(71, 71, 71);
  font-size: 30px;
  margin-top: -20px;
  display: inline-block;
}
.my-recipies-image-box {
  margin: auto;
  display: flex;
  justify-content: center;
}
.my-recipie-title-image {
  width: 40%;
  box-shadow: grey 0px 0px 20px;
  border-radius: 20px;
  margin: 15px 40px;
}
.my-recipie-image img {
  width: 100%;
}
.my-recipie-image {
  padding: 20px;
}
.my-recipie-title h3 {
  font-size: 25px;
}
.my-recipie-title p {
  font-size: 22px;
  color: rgb(142, 142, 142);
}
.my-analytics-main {
  margin: 80px auto;
  width: 80%;
  text-align: center;
  box-shadow: gray 0px 0px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 40px;
}
.my-analytics-social p {
  color: rgb(142, 142, 142);
  font-size: 20px;
}
.my-analytics-social h1 {
  font-size: 50px;
}
.my-analytics-social {
  margin: 0px 70px;
}
.footer-main {
  background: black;
  text-align: center;
  padding: 30px;
}
.footer-main h1 {
  font-size: 30px;
  color: gray;
}
.footer-main h1 span {
  color: rgb(255, 122, 56);
  margin: 15px;
}
.footer-main p {
  color: rgb(200, 200, 200);
  font-size: 22px;
}
